/manifests
/srctest
/src/com/jackmeng/test
/classes
/halcyon
.vscode
.idea
*.iml
*.log
/out
MAKE.sh
*.class
/engine
/halcyon
/srctest
.vscode
*.iml
.idea
/out
*.exe
*.jarzip
Source/com/jackmeng/tailwind/test
Source/com/jackmeng/test
*.halcyon
/src/com/jackmeng/test/
*.log
/manifests
/.gradle
/.settings
/gradle
/classes
/docs
/default
MAKE.sh
.editorconfig
